<h1>Upcoming Appointments</h1>

<%= link_to "Add new", new_appointment_path, :class => "new-appt" %>

<% @my_appointments.each do |appt| %>
  <p><%= appt.date %></p>
<% end  %>


<% @all_appointments.each do |appt| %>
  <%= link_to appointment_path(appt) do %>
    <div class="appt-card">


      <p><%= appt.id %>: <%= appt.date %></p>
      <p><%= appt.status %></p>

    </div>
  <% end %>

<% end  %>
