<!DOCTYPE html>
<html>
  <head>
    <title>ToDoOt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav">
      <ul>
        <%= link_to "Home", root_path, :class => "nav-item" %>
        
      </ul>

    </nav>
    <%= yield %>
  </body>
</html>
